<!DOCTYPE html>
<html lang="en">
<head>
    <title>
        Restoran Gabre Pakoštane
    </title>
    <meta charset="utf-8">
    <meta neme="viewport" content="width=device-width, initial-scale=1">
    <title>Bootstrap Tutorial Sample Page</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="stajlcss.css">

</head>
<body>
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>





    <div class="container-fluid">
       <!---- navigacijski bar-->
        <nav class="navbar navbar-expand-md">
            <a class="navbar-brand" href="#Početna">Restoran Gabre Pakoštane</a>
            <button class="navbar-toggler navbar-dark" type="button" data-toggle="collapse" data-target="#main-navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="main-navigation">
              <ul class="navbar-nav">
                <li class="nav-item">
                  <a class="nav-link" href="#Početna"> Početna</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="#O nama"> O nama</a>

                </li>
                <li class="nav-item">
                  <a class="nav-link" href="#Galerija"> Galerija</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="#Rezervacije"> Rezervacije</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="#Rezervacije"> Kontakt</a>
                </li>
              </ul>
            </div>
          </nav>
          <header class="page-header header container-fluid">
        </header>
    

        <!---- uvođenje javascript -->
    <script src="main.js"></script>


    
    
    

    


<!---- tekst na naslovnoj stranici-->
    <div class="description">
        <h1 id="Početna">Dobrodošli na stranicu Restorana Gabre!</h1>
        <p >.....Mediteranska kuhinja, tako i dalmatinska kuhinja....ona je tradicija, stil života, strast ........</p>
      </div>

      
      <!---- 1 . okviri sa tekstom i slikama-->
      <div class="description2">
      <h1 id="O nama" >O nama</h1>
      </div> 

      <div class="description3">
        <p>U prekrasnom ambijentu Pakoštana smjestili su se naši ugostiteljski objekti, restoran-pizzeria i caffe bar/cocktail bar Gabre, koji su prava mjesta za vaš izlazak gdje ćete se opustiti i uživati u vrhunskoj usluzi, hrani i piću. Nudimo Vam organizaciju poslovnih ručkova i večera te privatnih proslava kako bismo učinili vaše proslave još svečanijima.

          Dugogodišnja ugostiteljska tradicija koja traje od 1967. i visoki standardi koje smo sebi postavili daju vrhunsku uslugu koju pružamo našim gostima. Našu ponudu konstantno poboljšavamo i proširujemo iz godine u godinu kako bi svaki posjet restoranu-pizzeriji i caffe baru Gabre bio najveći gušt i pozitivno iskustvo za naše goste.
          
          Kada poželite uživati u dobroj hrani i kapljici te vam treba opuštanje na terasi u neposrednoj blizini mora, posjetite nas i uvjerite se u kvalitetu našeg restorana, pizzerie i bara.
          
          Želimo vam dobrodošlicu i dobar tek!</p>
      </div>
      

<!----2.  okviri sa tekstom i slikama-->
      <div class="container features">
        <div class="row">
          <div class="col-lg-4 col-md-4 col-sm-12">
            <h3 class="feature-title">Naše ambicije</h3>
            <img src="lignje.jpg" class="img-fluid">
            <p>Ambicija nam je da Vam kroz ovo gastro putovanje što više približimo mirise i okuse Mediterana, Dalmacije odnosno Hrvatske prateći njenu tradiciju kulinarstva, koristeći njene gastro delicije, kombinirajući karakteristične namirnice i načine prigotovljavanja jela..</p>
          </div>
          <div class="col-lg-4 col-md-4 col-sm-12">
            <h3 class="feature-title">Priprema jela</h3>
            <img src="cevapi.jpg" class="img-fluid">
            <p>U pripremi naših jela koristimo maslinovo ulje renomiranih domaćih maslinara kao što su Ante Bungur čije je ekstra djevičansko ulje šampion noćnjaka i ukupni šampion Hrvatske, te Ante Maksana čije je ulje verificirano kao eko ulje, a proizvodi se na obiteljskom gospodarstvu u Vrani kraj Vranskog jezera.</p>
          </div>
          <div class="col-lg-4 col-md-4 col-sm-12">
            <h3 class="feature-title">Preporuka chefa</h3>
            <img src="plata.jpg" class="img-fluid">
            <p>Naš Chef Ivan preporučuje gurmansku platu, jer je ona ogledalo naše domaće proizvodnje i uzgoja.</p>
          </div>

          
<div class="description5">
            <h1 id="Galerija">Galerija slika</h1>
            </div> 

<!-- Galerija -->
<div class="row">
  <div class="column">
    <img src="galerija1.jpg" alt="Slika 1" onclick="myFunction(this);">
  </div>
  <div class="column">
    <img src="galerija2.jpg" alt="Slika 2" onclick="myFunction(this);">
  </div>
  <div class="column">
    <img src="galerija3.jpg" alt="Slika 3" onclick="myFunction(this);">
  </div>
  <div class="column">
    <img src="galerija4.jpg" alt="Slika 4" onclick="myFunction(this);">
  </div>
</div>

<!-- The expanding image container -->
<div class="container">
  <!-- Close the image -->
  <span onclick="this.parentElement.style.display='none'" class="closebtn">&times;</span>

  <!-- Expanded image -->
  <img id="expandedImg" style="width:100%">

  <!-- Image text -->
  <div id="imgtext"></div>
</div>

<!----3.  okviri sa tekstom i slikama-->
      <div class="container features">
        <div class="row">
          
          <div class="col-lg-10 col-md-10 col-sm-12"> 
            <h3 class="feature-title">Rezerviraj termin na vrijeme!</h3>
            <div class="form-group">
              <input type="text" class="form-control" placeholder="Ime" name="">
            </div>
            <div class="form-group">
              <input type="email" class="form-control" placeholder="Email adresa" name="email">
            </div>
            <div class="form-group">
              <textarea class="form-control" rows="4"></textarea>
            </div>
            <input type="submit" class="btn btn-secondary btn-block" value="Pošalji" name="">       
          </div>
        </div> 

       

        <!---- footer stranice (Dno)-->
      </div><footer class="page-footer">
        <div class="container">
          <div class="row">
            <div class="col-lg-8 col-md-8 col-sm-12">
            <h6 class="text-uppercase font-weight-bold">Gdje se nalaze Pakoštane?</h6>
            <p id="Rezervacije">Pakoštane su malo dalmatinsko mjesto smješteno u samom središtu jadranske obale i jedinstvenom položaju između mora i Vranskog jezera. Četiri nacionalna parka (Kornati, Krka, Paklenica i Plitvička jezera) i dva parka prirode (Telašćica i Vransko jezero) jedinstvene ljepote okružuju Pakoštane..</p>
            <a href="https://www.gabre.hr/">A ovo je naša original stranica.</a>
          </div>
          <div class="col-lg-4 col-md-4 col-sm-12">
            <h6 class="text-uppercase font-weight-bold">Kontakt</h6>
            <p>
              OBALA KRALJA PETRA KREŠIMIRA 40,
             23211 PAKOŠTANE, HRVATSKA
             Radno vrijeme
             <br/> OD 07:00 DO 02:00
            <br/>INFO@GABRE.HR
            <br/>+385 (0)23 381 003
          </div>
        </div>
        <div class="footer-copyright text-center">© 2020 Copyright: TrosicLuka.com</div>
      </footer> 






</body>
</html>