{% extends 'baza.html' %}

{% block content %}

<!---- 1 . okviri sa tekstom i slikama-->
<div class="description2">
    <h1 id="O nama" >O nama</h1>
    </div> 

    <div class="description3">
      <p>U prekrasnom ambijentu Pakoštana smjestili su se naši ugostiteljski objekti, restoran-pizzeria i caffe bar/cocktail bar Gabre, koji su prava mjesta za vaš izlazak gdje ćete se opustiti i uživati u vrhunskoj usluzi, hrani i piću. Nudimo Vam organizaciju poslovnih ručkova i večera te privatnih proslava kako bismo učinili vaše proslave još svečanijima.

        Dugogodišnja ugostiteljska tradicija koja traje od 1967. i visoki standardi koje smo sebi postavili daju vrhunsku uslugu koju pružamo našim gostima. Našu ponudu konstantno poboljšavamo i proširujemo iz godine u godinu kako bi svaki posjet restoranu-pizzeriji i caffe baru Gabre bio najveći gušt i pozitivno iskustvo za naše goste.
        
        Kada poželite uživati u dobroj hrani i kapljici te vam treba opuštanje na terasi u neposrednoj blizini mora, posjetite nas i uvjerite se u kvalitetu našeg restorana, pizzerie i bara.
        
        Želimo vam dobrodošlicu i dobar tek!</p>
    </div>

    <!----2.  okviri sa tekstom i slikama-->
    <div class="container features">
        <div class="row">
          <div class="col-lg-4 col-md-4 col-sm-12">
            <h3 class="feature-title">Naše ambicije</h3>
            <img src="/static/css/img/lignje.jpg" class="img-fluid">
            <p>Ambicija nam je da Vam kroz ovo gastro putovanje što više približimo mirise i okuse Mediterana, Dalmacije odnosno Hrvatske prateći njenu tradiciju kulinarstva, koristeći njene gastro delicije, kombinirajući karakteristične namirnice i načine prigotovljavanja jela..</p>
          </div>
          <div class="col-lg-4 col-md-4 col-sm-12">
            <h3 class="feature-title">Priprema jela</h3>
            <img src="/static/css/img/cevapi.jpg" class="img-fluid">
            <p>U pripremi naših jela koristimo maslinovo ulje renomiranih domaćih maslinara kao što su Ante Bungur čije je ekstra djevičansko ulje šampion noćnjaka i ukupni šampion Hrvatske, te Ante Maksana čije je ulje verificirano kao eko ulje, a proizvodi se na obiteljskom gospodarstvu u Vrani kraj Vranskog jezera.</p>
          </div>
          <div class="col-lg-4 col-md-4 col-sm-12">
            <h3 class="feature-title">Preporuka chefa</h3>
            <img src="/static/css/img/plata.jpg" class="img-fluid">
            <p>Naš Chef Ivan preporučuje gurmansku platu, jer je ona ogledalo naše domaće proizvodnje i uzgoja.</p>
          </div>

          <!---- footer stranice (Dno)-->
        </div><footer class="page-footer">
            <div class="container">
            <div class="row">
                <div class="col-lg-8 col-md-8 col-sm-12">
                <h6 class="text-uppercase font-weight-bold">Gdje se nalaze Pakoštane?</h6>
                <p id="Rezervacije">Pakoštane su malo dalmatinsko mjesto smješteno u samom središtu jadranske obale i jedinstvenom položaju između mora i Vranskog jezera. Četiri nacionalna parka (Kornati, Krka, Paklenica i Plitvička jezera) i dva parka prirode (Telašćica i Vransko jezero) jedinstvene ljepote okružuju Pakoštane..</p>
                <a href="https://www.gabre.hr/">A ovo je naša original stranica.</a>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-12">
                <h6 class="text-uppercase font-weight-bold">Kontakt</h6>
                <p>
                OBALA KRALJA PETRA KREŠIMIRA 40,
                23211 PAKOŠTANE, HRVATSKA
                Radno vrijeme
                <br/> OD 07:00 DO 02:00
                <br/>INFO@GABRE.HR
                <br/>+385 (0)23 381 003
            </div>
            </div>
            <div class="footer-copyright text-center">© 2020 Copyright: TrosicLuka.com</div>
        </footer> 

{% endblock %}