{% extends 'baza.html' %}

{% block content %}

<!----3.  okviri sa tekstom i slikama-->
<div class="container features">
    <div class="row">
      
      <div class="col-lg-10 col-md-10 col-sm-12"> 
        <h3 class="feature-title">Rezerviraj termin na vrijeme!</h3>
        <div class="form-group">
          <input type="text" class="form-control" placeholder="Ime" name="">
        </div>
        <div class="form-group">
          <input type="email" class="form-control" placeholder="Email adresa" name="email">
        </div>
        <div class="form-group">
          <textarea class="form-control" rows="4"></textarea>
        </div>
        <input type="submit" class="btn btn-secondary btn-block" value="Pošalji" name="">       
      </div>
    </div> 

        <!---- footer stranice (Dno)-->
    </div><footer class="page-footer">
        <div class="container">
        <div class="row">
            <div class="col-lg-8 col-md-8 col-sm-12">
            <h6 class="text-uppercase font-weight-bold">Gdje se nalaze Pakoštane?</h6>
            <p id="Rezervacije">Pakoštane su malo dalmatinsko mjesto smješteno u samom središtu jadranske obale i jedinstvenom položaju između mora i Vranskog jezera. Četiri nacionalna parka (Kornati, Krka, Paklenica i Plitvička jezera) i dva parka prirode (Telašćica i Vransko jezero) jedinstvene ljepote okružuju Pakoštane..</p>
            <a href="https://www.gabre.hr/">A ovo je naša original stranica.</a>
        </div>
        <div class="col-lg-4 col-md-4 col-sm-12">
            <h6 class="text-uppercase font-weight-bold">Kontakt</h6>
            <p>
            OBALA KRALJA PETRA KREŠIMIRA 40,
            23211 PAKOŠTANE, HRVATSKA
            Radno vrijeme
            <br/> OD 07:00 DO 02:00
            <br/>INFO@GABRE.HR
            <br/>+385 (0)23 381 003
        </div>
        </div>
        <div class="footer-copyright text-center">© 2020 Copyright: TrosicLuka.com</div>
    </footer> 

{% endblock %}